<<<<<<< HEAD
body {
    background-color:#f2f3f4;
    font-family: 'Times New Roman', Times, serif;
}
#recipes {
    max-width: 800px;
    margin: auto;
    padding:40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0,0,0.1);
    background: #ffffff;
}

.recipe {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: #eaeded;
}

.recipe h2 {
    font-size: 1.6em;
    color: #21618c;
    margin-bottom: 15px;
}
.Ingredients {
    background-color: #f5cba7;
    padding: 10px;
    border-radius: 5px;
}
.tips {
    background-color: #f4ecf7;
    padding:10px;
    margin-top: 10px;
    border-radius: 5px;
}


/* General */
.Ingredients {
    background-color:#efdeda;
=======
body {
    background-color:#f2f3f4;
    font-family: 'Times New Roman', Times, serif;
}
#recipes {
    max-width: 800px;
    margin: auto;
    padding:40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0,0,0.1);
    background: #ffffff;
}

.recipe {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: #eaeded;
}

.recipe h2 {
    font-size: 1.6em;
    color: #21618c;
    margin-bottom: 15px;
}
.Ingredients {
    background-color: #f5cba7;
    padding: 10px;
    border-radius: 5px;
}
.tips {
    background-color: #f4ecf7;
    padding:10px;
    margin-top: 10px;
    border-radius: 5px;
}


/* General */
.Ingredients {
    background-color:#efdeda;
>>>>>>> 8708d6b6436c4c926cafd0f1463e10bc0c381447
}