<<<<<<< HEAD
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e8e8e8;
    line-height: 1.6;
}
#blog-post {
    max-width: 900px;
    border-radius: 12px;
    box-shadow:0 0 10px rgb(0,0,0, 0.1) ;
    background-color: #fff;
    padding: 40px;
    margin: 50px auto;
}
h1 {
    font-size: 42px;
    color: #333;
    margin-top: 20px;
}
.author {
    font-size: 18px;
    color:#666;
    margin-bottom: 40px;
}
p{
    margin-bottom: 25px;
    color:#333;
    height: 50px;
    background-color: yellow;
}

p:empty {
    display: none;
}
p:not(.special),
div:not (.special) {
    background-color: #333;
}
:where(p,div).author {
    background-color:#bb4a4a9d;
    font-size: 18px;
    margin-bottom: 40px;
}
.intro {
    color:#923232;
    font-size: bold;
}

.tag {
    display:flex;
     gap:15px;
     margin-top: 25px;
}

.tags span {
    background-color: rgb(61, 194, 150);
    color:#fff;
    padding:5px 15px;
    border-radius: 14px;
    font-size: 14px;
}
img {
    width: 100%;
    height: 200%;
    object-fit: cover;
    border-radius: 8px;
}
=======
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e8e8e8;
    line-height: 1.6;
}
#blog-post {
    max-width: 900px;
    border-radius: 12px;
    box-shadow:0 0 10px rgb(0,0,0, 0.1) ;
    background-color: #fff;
    padding: 40px;
    margin: 50px auto;
}
h1 {
    font-size: 42px;
    color: #333;
    margin-top: 20px;
}
.author {
    font-size: 18px;
    color:#666;
    margin-bottom: 40px;
}
p{
    margin-bottom: 25px;
    color:#333;
    height: 50px;
    background-color: yellow;
}

p:empty {
    display: none;
}
p:not(.special),
div:not (.special) {
    background-color: #333;
}
:where(p,div).author {
    background-color:#bb4a4a9d;
    font-size: 18px;
    margin-bottom: 40px;
}
.intro {
    color:#923232;
    font-size: bold;
}

.tag {
    display:flex;
     gap:15px;
     margin-top: 25px;
}

.tags span {
    background-color: rgb(61, 194, 150);
    color:#fff;
    padding:5px 15px;
    border-radius: 14px;
    font-size: 14px;
}
img {
    width: 100%;
    height: 200%;
    object-fit: cover;
    border-radius: 8px;
}
>>>>>>> 8708d6b6436c4c926cafd0f1463e10bc0c381447
