body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fafafa;
    margin: 0;
}
#container {
    width: 100%;
}
.headline {
    font-size:2.5em ;
    text-align: center;
    background-color: #f1e5d6;
    padding: 10px;
}
.side-content {
    float:right;
    width:30%;
    background-color: #d4ccc5;
    padding: 10px;
}
#coffee-article {
    padding:1%;
    width:68%;
}

.headline::first-letter {
    color:#8b4513;
    font-size: 4em;
}

.intro::first-letter {
    color:#8b4513;
    font-size: 4em;
}
.content::first-letter {
    background-color: yellow;
}