<<<<<<< HEAD
h1
{
    color: #228b22;
    text-align: :center;
    font-size:40px;
}
h2 {
    color:#6b8e23;
    font-size:30px;
    text-align: center;
}
p {
    color:#556b2f;
    line-height: 1.5;
    font-size:20px;
    text-align: center;
}
ul {
    list-style:square;
    margin-left:20px;
}
a {
    color:blue; text-decoration: none ;
}
.small-gif {
    width: 200px; 
    height: auto;
=======
h1
{
    color: #228b22;
    text-align: :center;
    font-size:40px;
}
h2 {
    color:#6b8e23;
    font-size:30px;
    text-align: center;
}
p {
    color:#556b2f;
    line-height: 1.5;
    font-size:20px;
    text-align: center;
}
ul {
    list-style:square;
    margin-left:20px;
}
a {
    color:blue; text-decoration: none ;
}
.small-gif {
    width: 200px; 
    height: auto;
>>>>>>> 8708d6b6436c4c926cafd0f1463e10bc0c381447
} 